/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24/08/2017, 21:53:22
    Author     : Salvio Furbino
*/


/*  [AJUSTES EM TABELAS PRIMEFACES]

- Retirando Padding da tabela
*/
.ui-datatable .ui-datatable-header{
    padding: 0 !important;
}
.ui-datatable-tablewrapper {
    margin: 0px!important;
}
ui-datatable-header.ui-widget-header.ui-corner-top{
    padding: 0 !important;

}
.ui-datatable table tbody tr td{
    word-break: break-word;
}

/* Colocando modal de dialogo por cima de tudo*/
.ui-dialog{
    z-index: 20000!important;
}

.invisivel{
    visibility: hidden;
}



.ui-growl {
    z-index: 20000!important;
    position: fixed;
    top: 60px!important;
    right: 100px!important;
    width: 80%!important;
}

.ui-growl-message {
    padding: 0 0 5px 0!important;
    width: 80%!important;
    float: left!important;
}
