/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24/08/2017, 21:53:22
    Author     : Sálvio Furbino
*/

.botao{
    margin-top: 2px;
    width: 100%!important;
}

.tamanhoIconePequeno{
    width: 10px;
}


.btnIcone{

}
.btnIconeENome{

}
.btnIconeGrande{
    font-size:80px !important;
    align-items: center;
    color: #ffffff !important;
    background-color: #0099ff !important;
}

.btnIconeGrande:hover {
    background-color: #00aeff !important;
}
/* Fica mais interessante utilizando w3-btn e w3-border  */
.botaoCard{

    height: auto!important;
    margin: 10px;
    white-space:normal!important;
    background-color: #e5ffee!important;
    color: #000000!important;
    font-family: 'latobold', sans-serif;

}

.botaoCardSimples{

    height: auto!important;
    margin: 5px;
    max-width: 150px;

    white-space:normal!important;
    word-wrap: break-word!important;
    background-color: #e5ffee!important;
    color: #000000!important;
    font-family: 'latobold', sans-serif;

}

.botaoCardSimples div{
    color: #000000!important;
}

.SbBotoesDeEscolha:parent:parent {
    margin: 0px;
    padding: 3px;
}

.SbBotoesDeEscolha button{
    font-size:13px !important;

}

div[class^="btnSeletor"]{
    float: left;
    margin: 0 10px 10px 0;
    height: 90px;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    user-drag: element;
    border: solid 2px transparent;
    text-align:center;

}
div[class^="btnSeletor"]:hover{
    opacity: 0.7;
}
div[class^="btnSeletor"]:active{
    transform: scale(.98,.98);
}
.btnSeletor-big{width: 120px;}
.btnSeletor-small{width: 95px;}
.btnSeletor-label{
    position: relative;

    top: -10px;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #000;
    font: 500 12px sans-serif;

}
.btnSeletor-Bkg{ background: #e5ffee!important;}

.sinoNotificacao{
    right: -10px;
    top: -15px;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    background: #f44336;
    font-size: 16px;
    padding: 3px 7px;
}

.sinoNotificacaoDezena{
    right: -10px;
    top: -15px;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    background: #f44336;
    font-size: 16px;
    padding: 2px 2px ;
}



.menu-horizontal-responsivo-container {
    position: relative;
    height: 50px;
    margin: 0px auto;
    border: 0px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-horizontal-responsivo	{
    height: 63px;
    background: #f3f3f3;
    padding-inline-start: 0px;

    box-sizing: border-box;
    white-space: nowrap;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;


}
.item-menu-horizontal-responsivo {
    display: inline-block;
    padding: 3px;
    height: 100%;
    outline: 0px;

    box-sizing: border-box;

}

.botoes-laterais-menu-horizontal-responsivo {
    width: 10px;
    height: 8px;
    z-index: 3000;
}

.btn:hover {opacity: 1}

.botao-lateral-menu-horizontal-responsivo:hover{
    opacity: 0.7;
}
.botao-lateral-menu-horizontal-responsivo:active{
    transform: scale(.20,.20);
}


.botao-lateral-esquerda-menu-horizontal-responsivo  {
    left: 0;
    width: 10px;
    position: absolute;
    z-index: 100;
    bottom: -7px;
    font-weight: bolder;
}

.botao-lateral-menu-horizontal-responsivo {
    background-color: #007bff;
    height: 25px;
    position: absolute;
    bottom: 2px;


}
.botao-lateral-direita-menu-horizontal-responsivo {
    z-index: 100;
    width: 10px;
    position: absolute;
    right:10px;
    bottom: -7px;
    font-weight: bolder;


}
.hidden-botao-lateral {
    display: none;

}

.print-botao-lateral {
    margin: auto;
    max-width: 500px;

    span {
        display: inline-block;
        width: 5px;
    }
}