/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24/08/2017, 21:28:17
    Author     : Salvio Furbino
*/

/******************************************************************************************************************************** */

/*html { text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;}*/
body{height:100%; width:100%;}
a, div, span, input, textarea, li, strong, button{ outline:none; text-decoration:none;
                                                   /* Remove estilo cinza do safari nas tags: [a]  */-webkit-tap-highlight-color: rgba(0,0,0,0);
                                                   /* remove painel de ação do safari nas tags [a] */-webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none;}
img{ border:none; border:0px;}
h1, h2, h3, h4, h5, h6{ margin:0px !important;
}
.Linha-separacao{
    height:1px;
    background:#717171;
    border-bottom: solid 1px #E0E0E0;
    display: block;
    overflow: hidden;
    height: 0px;
    margin: 25px -30px 20px;
    clear: both;
}
.ManterNoTopo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.EmptyBox5{ display:block; width:100%; height:5px; overflow:hidden;}
.EmptyBox10{ display:block; width:100%; height:10px; overflow:hidden;}
.EmptyBox20{ display:block; width:100%; height:20px; overflow:hidden;}
.EmptyBox30{ display:block; width:100%; height:30px; overflow:hidden;}
.EmptyBox40{ display:block; width:100%; height:40px; overflow:hidden;}
.EmptyBox50{ display:block; width:100%; height:50px; overflow:hidden;}
.EmptyBox60{ display:block; width:100%; height:60px; overflow:hidden;}
.EmptyBox70{ display:block; width:100%; height:70px; overflow:hidden;}
.EmptyBox80{ display:block; width:100%; height:80px; overflow:hidden;}
.EmptyBox90{ display:block; width:100%; height:90px; overflow:hidden;}
.EmptyBox100{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox110{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox120{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox130{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox140{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox150{ display: block; width: 100%; height:150px; overflow:hidden;}

.ClearBoth{clear:both;}
.CursPointer{ cursor:pointer;}

/*visibilities according to the platform*/
.ShowOnMobile{ display:none;}
.ShowOnDesktop{ display:inherit;}


/* Desktop Grande */
@media (min-width: 960px){
    /* Visibilidade de acorodo com a plataforma*/
    .ShowOnMobile{display:none; opacity:0;}
    .ShowOnDesktop{display:inherit; opacity:1;}

    /* Containers */
    .Container100{ width:100%; float:left;}
    .Container96{ width:96%; float:left;}
    .Container90{ width:90%; float:left;}
    .Container85{ width:85%; float:left;}
    .Container80{ width:80%; float:left;}
    .Container75{ width:75%; float:left;}
    .Container70{ width:70%; float:left;}
    .Container60{ width:60%; float:left;}
    .Container50{ width:50%; float:left;}
    .Container40{ width:40%; float:left;}
    .Container33{ width:33.3%; float:left;}
    .Container30{ width:30%; float:left;}
    .Container25{ width:25%; float:left;}
    .Container20{ width:20%; float:left;}
    .Container10{ width:10%; float:left;}
    .Container5{ width:5%; float:left;}





}
/* DeskTop normal */
@media (min-width: 960px) and (max-width:1200px){
    /* responsive support */
    .Responsive{width:33.3%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive50{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}


    .Container100{ width:100%!important; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container96{ width:96%; float:left;}
    .Container90{ width:90%; float:left;}
    .Container85{ width:85%; float:left;}
    .Container80{ width:80%; float:left;}
    .Container75{ width:75%; float:left;}
    .Container70{ width:70%; float:left;}
    .Container60{ width:60%; float:left;}
    .Container50{ width:50%; float:left;}
    .Container40{ width:40%; float:left;}
    .Container33{ width:33.3%; float:left;}
    .Container30{ width:30%; float:left;}
    .Container25{ width:25%; float:left;}
    .Container20{ width:20%; float:left;}
    .Container10{ width:10%; float:left;}
    .Container5{ width:5%; float:left;}



    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}
}

/* Tablete Horizonta, e desktops pequenos*/
@media (min-width: 640px) and (max-width: 960px) {
    /*visibilities according to the platform*/
    .ShowOnMobile{display:inherit; opacity:1;}
    .ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}

    /* responsive support */
    .Responsive{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}

    .Container100{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container96{ width:96%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container90{ width:90%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container85{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container80{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container75{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container70{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important;}
    .Container60{ width:47%; float:left;}
    .Container50{ width:47%; float:left;}
    .Container40{ width:47%; float:left;}
    .Container33{ width:47%; float:left;}
    .Container30{ width:47%; float:left;}
    .Container25{ width:29%; float:left;}
    .Container20{ width:29%; float:left;}
    .Container10{ width:29%; float:left;}
    .Container5{ width:25%; float:left;}



    .ContainerIndent{padding:5px;}

    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}

    /* font size resetting for responsive modes */
    .Fs14{font-size:13px !important;}
    .Fs15{font-size:14px !important;}
    .Fs16{font-size:15px !important;}
    .Fs17{font-size:16px !important;}
    .Fs18{font-size:16px !important;}
    .Fs19{font-size:16px !important;}
    .Fs20{font-size:18px !important;}
    .Fs21{font-size:18px !important;}
    .Fs22{font-size:20px !important;}
    .Fs23{font-size:20px !important;}
    .Fs24{font-size:22px !important;}
    .Fs25{font-size:22px !important;}
    .Fs26{font-size:24px !important;}
    .Fs27{font-size:24px !important;}
    .Fs28{font-size:26px !important;}
    .Fs29{font-size:26px !important;}
    .Fs30{font-size:28px !important;}
    .Fs40{font-size:30px !important;}
    .Fs50{font-size:35px !important;}
    .Fs60{font-size:40px !important;}
    .Fs100{font-size:60px !important;}
    .Fs130{font-size:70px !important;}
}


/* Navegação Horizontal celulares, e vertical tablet */
@media (min-width:480px) and (max-width: 640px) {
    /*visibilities according to the platform*/
    .ShowOnMobile{display:inherit; opacity:1;}
    .ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}

    /* responsive support */
    .Responsive{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}

    .ContainerIndent{padding:5px;}

    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}

    /* font size resetting for responsive modes */
    .Fs12{font-size:12px !important;}
    .Fs13{font-size:12px !important;}
    .Fs14{font-size:13px !important;}
    .Fs15{font-size:13px !important;}
    .Fs16{font-size:13px !important;}
    .Fs17{font-size:14px !important;}
    .Fs18{font-size:15px !important;}
    .Fs19{font-size:17px !important;}
    .Fs20{font-size:17px !important;}
    .Fs21{font-size:18px !important;}
    .Fs22{font-size:18px !important;}
    .Fs23{font-size:20px !important;}
    .Fs24{font-size:21px !important;}
    .Fs25{font-size:22px !important;}
    .Fs26{font-size:23px !important;}
    .Fs27{font-size:23px !important;}
    .Fs28{font-size:25px !important;}
    .Fs29{font-size:25px !important;}
    .Fs30{font-size:26px !important;}
    .Fs40{font-size:30px !important;}
    .Fs50{font-size:32px !important;}
    .Fs60{font-size:35px !important;}
    .Fs100{font-size:40px !important;}
    .Fs130{font-size:50px !important;}

    .Container100{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important;  margin-top: 3px!important;}
    .Container96{ width:96%; float:left;  margin-left:0px !important; margin-right:0px !important;  margin-top: 3px!important;}
    .Container90{ width:90%; float:left;  margin-left:0px !important; margin-right:0px !important;  margin-top: 3px!important;}
    .Container85{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container80{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container75{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container70{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container60{ width:50%; float:left;}
    .Container50{ width:50%; float:left;}
    .Container40{ width:50%; float:left;}
    .Container33{ width:50%; float:left;}
    .Container30{ width:50%; float:left;}
    .Container25{ width:30%; float:left;}
    .Container20{ width:30%; float:left;}
    .Container10{ width:30%; float:left;}
    .Container5{ width:25%; float:left;}
}


/* Navegação Vertical Mobile */
@media (min-width:320px) and (max-width: 480px) {
    /*visibilities according to the platform*/
    .ShowOnMobile{display:inherit; opacity:1;}
    .ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}

    /* responsive support */
    .Responsive{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}

    .ContainerIndent{padding:5px;}

    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important;}

    /* font size resetting for responsive modes */
    .Fs12{font-size:12px !important;}
    .Fs13{font-size:12px !important;}
    .Fs14{font-size:13px !important;}
    .Fs15{font-size:13px !important;}
    .Fs16{font-size:13px !important;}
    .Fs17{font-size:14px !important;}
    .Fs18{font-size:15px !important;}
    .Fs19{font-size:17px !important;}
    .Fs20{font-size:17px !important;}
    .Fs21{font-size:18px !important;}
    .Fs22{font-size:18px !important;}
    .Fs23{font-size:20px !important;}
    .Fs24{font-size:21px !important;}
    .Fs25{font-size:22px !important;}
    .Fs26{font-size:23px !important;}
    .Fs27{font-size:23px !important;}
    .Fs28{font-size:25px !important;}
    .Fs29{font-size:25px !important;}
    .Fs30{font-size:25px !important;}
    .Fs40{font-size:28px !important;}
    .Fs50{font-size:30px !important;}
    .Fs60{font-size:32px !important;}
    .Fs100{font-size:35px !important;}
    .Fs130{font-size:40px !important;}


    .Container100{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container96{ width:96%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container90{ width:90%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container85{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container80{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container75{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container70{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container60{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container50{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container40{width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container33{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container30{ width:100%; float:left;  margin-left:0px !important; margin-right:0px !important; margin-top: 3px!important;}
    .Container25{ width:50%; float:left;}
    .Container20{ width:50%; float:left;}
    .Container10{ width:50%; float:left;}
    .Container5{ width:50%; float:left;}
}

/* clearfix for Container */
.Container:before,.Container:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.Container:after {
    clear: both;
}
