p {
  border: 1px solid #000;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}


.container.demo {
  background-image: url('../images/12_col.png');
  /*background-color: #fff;
  background-repeat: repeat-y;*/
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.container.demo {
		background-image: url('../images/12_col_768.png');
	}
}

@media only screen and (max-width: 767px) {
	.container.demo {
		background-image: none;
		background: #6afd7f;
	}
}

@media only screen and (max-width: 479px) {
	.container.demo {
		background: #e16bfe;
	}
}