

ajustesCard{

}
ajustesDivGeral{

}





.tabelaFormulario{
    width:   100%!important;
    line-height: 14%;
}

.Container20.Responsive
{
    padding: 2%;
}
.Container30.Responsive
{
    padding: 1%;
}
.invisivel{
    display: none;
}



.tamanho20px{
    width: 10px;
}


.listComOpcoesHeader{


}





